html, body {
    height: 100%
}
body {
    display: grid;
    grid-template-rows: 10% 80% 10%;
    border: solid black 1px;
}


.header {
    border: solid black 1px;
}


.middle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: solid black 1px;
     

}

.thing-one {
    border: solid black 1px;
}

.thing-two {
    border: solid black 1px
}

.thing-three {
    border: solid black 1px;
}

.footer {
    border: solid black 1px;
}

}